body {
    background-color: #252525;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

nav {
    background-color: #404040;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 40px 0 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    flex-grow: 1;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.container h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #ffffff;
}

form {
    display: flex;
    justify-content: center;
}

input[type="text"] {
    width: 70%;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    box-shadow: inset 0 0 0 2px #ccc;
}

button[type="submit"] {
    background-color: #3399ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
    font-size: 1.2em;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #2677c9;
}


/* Donate Page */
.donate-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

rect.gold {
    fill: gold;
  }
  
  rect.gold:hover {
    fill: darkgoldenrod;
  }
  
  rect.gold:active {
    fill: goldenrod;
  }
  
  rect.gold:focus {
    outline: none;
  }
  
  rect.gold::-moz-focus-inner {
    border: 0;
  }
  
  .paypal-button {
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    background-color: gold;
    transition: background-color 0.25s ease-in-out;
  }
  
  .paypal-button:hover {
    background-color: darkgoldenrod;
  }
  
  .paypal-button:active {
    background-color: goldenrod;
  }
  
  .paypal-button:focus {
    outline: none;
  }
  
  .paypal-button::-moz-focus-inner {
    border: 0;
  }
  

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .nav-links {
        margin: 0;
        margin-top: 20px;
    }
    .nav-links li {
        margin: 0;
        margin-top: 10px;
    }
    .logo {
        margin: 0;
        margin-top: 20px;
    }
}